body,
html {
  height: 100%;
  margin: 0;
  padding: 0;
}

.container {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  min-height: 88.8vh;
  overflow: hidden;
}

.logo img {
  width: 160px;
  height: auto;
  margin-top: 0.8rem;
}

.flex-container {
  background-color: rgb(43, 41, 41);
  height: 7vh;
  border-radius: 4px;
  padding: 0.7rem;
  text-align: justify;
  align-items: center;
  margin-inline: 1rem;
  overflow: hidden;
}

.flex-container p {
  margin: 0;
  color: white;
  font-size: 20px;
}

.login-form {
  width: 500px;
  padding: 20px;
  background-color: #f5f5f5;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  height: 72.5vh;
  overflow: hidden;
}

.login-form h2 {
  margin-bottom: 3rem;
  color: #7e7e7e;
}

.login-form form {
  display: flex;
  flex-direction: column;
}

.login-form mat-form-field {
  margin-bottom: 20px;
}

.login-form button {
  align-self: flex-start;
  background-color: #7e7e7e;
  font-size: 20px;
}

.login-form p {
  margin-top: 7rem;
  text-align: start;
}

app-footer {
  margin-top: auto;
  overflow: hidden;
}

/* slider */
.slider-container {
  margin-top: -37rem;
  margin-right: 22rem;
  margin-bottom: 4rem;
  width: 74%;
}

.carousel {
  position: relative;
}

.carousel-inner {
  position: relative;
  width: 100%;
  overflow: hidden;
  border: 1px solid rebeccapurple;
}

.carousel .slide {
  position: relative;
  display: none;
  width: 100%;
}

.carousel .slide img {
  width: 100%;
  height: 30rem;
}

/* Optional: Add CSS for slide transitions */
.carousel .slide.active {
  display: block;
  transition: opacity 0.3s ease-in-out;
}

carousel-control-prev,
carousel-control-next {
  display: none;
}
