<div class="wrapper">
    <!-- Side Notifications -->
    <div class="side-notifications">
      <div class="notification">
        <mat-card class="notification-card">
          <mat-card-content>
            <h3>Hiring for Full Stack Developer</h3>
            <p>We are currently hiring for Full Stack Developer positions. Apply now!</p>
          </mat-card-content>
          <mat-card-actions>
            <span matBadge="1" matBadgeColor="primary" class="badge-icon"></span>
          </mat-card-actions>
        </mat-card>
      </div>
      <div class="notification">
        <mat-card class="notification-card">
          <mat-card-content>
            <h3>Hiring for Finance</h3>
            <p>We have job openings in our Finance department. Join our team today!</p>
          </mat-card-content>
          <mat-card-actions>
            <span matBadge="2" matBadgeColor="primary" class="badge-icon"></span>
        </mat-card-actions>
        </mat-card>  
      </div>
      <div class="notification">
        <mat-card class="notification-card">
          <mat-card-content>
            <h3>Hiring for Operations</h3>
            <p>We are hiring for Operations roles with experience in Angular and Material.</p>
          </mat-card-content>
          <mat-card-actions>
            <span matBadge="1" matBadgeColor="primary" class="badge-icon"></span>
          </mat-card-actions>
        </mat-card>
      </div>
    </div>
  </div>
  