  <app-navbar></app-navbar>

  <div class="profile-container">
    <h2>Update Profile</h2>
    <form [formGroup]="updateProfileForm" (ngSubmit)="updateProfile()" class="update-profile-form">

      <mat-form-field class="mat-form-field">
        <mat-label>Name</mat-label>
        <input matInput formControlName="name" [readonly]="true" required>
      </mat-form-field>

      <mat-form-field class="mat-form-field">
        <mat-label>Phone Number</mat-label>
        <input matInput formControlName="phoneNumber" [readonly]="true" required pattern="[0-9]{10}">
        <mat-error *ngIf="updateProfileForm.get('phoneNumber')?.invalid && updateProfileForm.get('phoneNumber')?.touched">
          Please enter a valid phone number.
        </mat-error>
      </mat-form-field>

      <mat-form-field class="mat-form-field">
        <mat-label>Email</mat-label>
        <input matInput formControlName="email" required email>
        <mat-error *ngIf="updateProfileForm.get('email')?.invalid && updateProfileForm.get('email')?.touched">
          Please enter a valid email address.
        </mat-error>
      </mat-form-field>

      <mat-form-field class="mat-form-field">
        <mat-label>Password</mat-label>
        <input matInput type="password" formControlName="password" required minlength="8">
        <mat-error *ngIf="updateProfileForm.get('password')?.invalid && updateProfileForm.get('password')?.touched">
          Please enter a valid password (min 8 characters).
        </mat-error>
      </mat-form-field>

      <mat-form-field class="mat-form-field">
        <mat-label>Date of Birth</mat-label>
        <input matInput [matDatepicker]="picker" formControlName="dateOfBirth" required>
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>

      <mat-form-field class="mat-form-field">
        <mat-label>Gender</mat-label>
        <mat-select formControlName="gender" required class="mat-select">
          <mat-option value="" disabled>Select gender</mat-option>
          <mat-option value="male">Male</mat-option>
          <mat-option value="female">Female</mat-option>
          <mat-option value="other">Other</mat-option>
        </mat-select>
      </mat-form-field>

      <button mat-raised-button color="primary" type="submit">Update</button>
    </form>
  </div>
